@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
:root {
  --brightText: #a7a7a7;
  --darkText: #4b4b4b;
  --backBright: #dfdfdf;
  --darkBlue: #00171f;
  --brightBlue: #001c25;
  --accentOrange: #de7119;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  scroll-behavior: smooth;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}
.mainPage {
  background-color: var(--darkBlue);
  color: var(--brightText);
  height: 60em;
  width: 100%;
  display: grid;
  font-family: 'Roboto', sans-serif;
}
.mainPage--content{
  text-align: center;
}
.navigation {
  justify-self: center;
  width: 70%;
  background-color: var(--darkBlue);
  z-index: 99;
  top: 0px;
  position: fixed;
  margin-left: 15%;
  opacity: 0.8;
  font-family: 'Lora', serif;
}
.titleBar {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.titleBar--name {
  margin-left: 3em;
}
.titleBar--nav {
  justify-self: right;
  display: flex;
  margin-right: 3em;
}
.titleBar--nav p {
  display: block;
  padding: 1em 1em 0 1em;
  transition-duration: 0.3s;
  cursor: pointer;
}
.titleBar--nav a {
  text-decoration: none;
  color: inherit;
}
.titleBar--nav-bordered {
  border-left: 1px solid #de7119;
  border-right: 1px solid #de7119;
}
.titleBar--nav p:hover {
  background-color: var(--brightText);
  color: var(--darkBlue);
  cursor: pointer;
}
.line {
  margin-top: 2em;
  height: 0.2em;
  background-color: #de7119;
  z-index: 99;
  width: 95%;
  margin-left: 2.5%;
}
.line2 {
  width: 80%;
  justify-self: center;
  margin: 0;
}

.mainPage--content {
  justify-self: center;
  width: 70%;
  margin-left: 0.4em;
  font-size: 6em;
}
.mainPage--content :nth-child(1) {
  animation-name: load;
  animation-duration: 10s;
}
.mainPage--content :nth-child(3) {
  opacity: 0;
  animation-name: load;
  animation-duration: 10s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.mainPage--content :nth-child(5) {
  opacity: 0;
  animation-name: load;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.particles {
  position: absolute;
}
.aboutPage {
  background-color: var(--backBright);
  color: var(--darkText);
  text-align: center;
  display: grid;
  height: 60em;
  font-family: 'Roboto', sans-serif;
}
.aboutPage__container {
  max-width: 50%;
  justify-self: center;
  align-self: center;
}
.aboutPage__container h1{
  font-size: 3em;
}
.aboutPage__content {
  font-size: 1.7em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 1em;
  text-align: left;
}
.animateUnderline {
  color: #004d96;
  text-decoration: none;
  background-image: linear-gradient(var(--backBright), var(--backBright)),
    linear-gradient(var(--backBright), var(--backBright)),
    linear-gradient(var(--accentOrange), var(--accentOrange));
  background-size: 20px 4px, 100% 4px, 0 4px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms linear, background-position 200ms linear;
}

.animateUnderline:hover {
  background-size: 20px 4px, 0 4px, 100% 4px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.personalPic {
  max-height: 13.2em;
  outline: 1em solid rgba(255, 255, 255, 0.8);
  outline-offset: -1em;
}
.statPage {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  font-size: 4em;
  text-align: center;
  background-color: var(--backBright);
  color: var(--darkText);
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.statPage :nth-child(1) {
  animation-name: load;
  animation-duration: 3s;
  width: 100%;
  text-align: center;
}

.statPage :nth-child(2) {
  animation-name: load;
  animation-duration: 3s;
  width: 100%;
  text-align: center;
}
.statPage--number {
  font-size: 2em;
  margin-bottom: 1em;
}
.descPage {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 5em;
  background-color: var(--brightBlue);
  color: var(--brightText);
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: 60em
}
.descPage h1 {
  padding-top: 3em;
  text-align: center;
  font-size: 3em;
}
.descPage--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  text-align: center;
  font-size: 1.7em;
  width: 70%;
  justify-self: center;
}
.navigation.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.navigation.hidden {
  transform: translateY(-110%);
}
.portfolio {
  color: var(--brightText);
  background-color: var(--brightBlue);
  display: grid;
  padding: 5em 0 10em 0;
  font-family: 'Roboto', sans-serif;
}
.portfolio h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}
.portfolio__container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 70%;
  justify-self: center;
  grid-row-gap: 5em;
}
.portfolio__container--project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--darkBlue);
}
.project {
  height: 20em;
  width: 40em;
}
.portfolio__container--project--image {
  height: 20em;
  width: 40em;
}
.portfolio__container--project--tech {
  height: 3em;
}
.portfolio__container--desc{
  scrollbar-width: thin;
  max-height: 6em;
}
.portfolio__container--desc::-webkit-scrollbar{
  width:12px
}
.tech {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.tech__content {
  justify-self: left;
}
.tech__desc a {
  text-decoration: underline;
  color: var(--brightText);
  font-size: 1.5em;
}

.tech__images {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
}
.tech__image {
  position: relative;
}
.tech__image--tooltip {
  visibility: hidden;
  color: var(--brightText);
  position: absolute;
  z-index: 1;
  background-color: var(--darkBlue);
  top: 100%;
  left: 50%;
  margin-left: -1.5em;
  opacity: 0;
  transition: opacity 500ms;
}
.tech__image:hover .tech__image--tooltip {
  visibility: visible;
  opacity: 1;
}
.contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: var(--brightText);
  background-color: var(--darkBlue);
  text-align: center;
  padding-bottom: 10em;
  font-family: 'Roboto', sans-serif;
  justify-items: center;
}
.contact h1 {
  font-size: 3em;
  padding-top: 5em;
  margin-bottom: 10px;
}
.contact :nth-child(2) {
  display: grid;
  grid-template-rows: repeat(1fr 1fr 3fr);
  color: var(--brightText);
  width: 21em;
}

.contact__button {
  border: 1px solid #de7119;
  padding: 1em;
  width: 10em;
  border-radius: 10px;
  color: var(--brightText);
  margin-top: 1em;
  justify-self: center;
  transition-duration: 250ms;
}
.contact__button:hover {
  background-color: #de7119;
  cursor: pointer;
}
footer {
  color: var(--brightText);
  background-color: var(--darkBlue);
  text-align: center;
  padding: 2em 0 2em 0;
  display: grid;
  font-family: 'Lora', serif;
  width: 100%;
  height: 5em;
}
.footer__icons {
  margin-top: 0.5em;
}
.footer__icons--icon {
  height: 2em;
}
.footer__icons :nth-child(1) {
  margin-right: 10px;
}
@media only screen and (max-width: 1025px) {
  .navigation {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  .titleBar--nav {
    display: grid;
  }
  .titleBar--nav p {
    padding: 0.5em;
  }
  .titleBar--name {
    text-align: center;
    padding: 0px;
  }
  .titleBar--nav-bordered {
    border-left: none;
    border-right: none;
    border-top: 1px solid #de7119;
    border-bottom: 1px solid #de7119;
  }
  .mainPage--content {
    font-size: 4em;
    margin: 0px;
    margin-top: 5em;
    width: 100%;
    text-align: center;
  }
  .aboutPage{
    height: auto;
    text-align: center;
  }
  
  .aboutPage__container {
    max-width: 90%;
    padding: 1em 0 1em 0 
  }
  .aboutPage__content{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    margin-bottom: -3em
  }
  .personalPic__container{
    grid-row: 1;
  }
  .personalPic{
    max-height: 10em;
    min-height: 5em;  
    justify-self: center;
    outline: 1em solid rgba(231, 231, 231, 0.9);
  outline-offset: -1em;
  margin-bottom: 1em;
  }
  .descPage {
    grid-template-rows: 1fr 3fr;
    height: auto
  }
  .descPage h1 {
    font-size: 2em;
  }
  .descPage--container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2em;
  }
  .descPage--container :nth-child(4) {
    padding-bottom: 2em;
  }
  .statPage {
    font-size: 2em;
    grid-template-rows: repeat(3 1fr);
  }
  .portfolio__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
  .portfolio__container--project {
    grid-template-columns: 1fr;
    border: 1px solid #de7119;
  }

  .project {
    height: 10em;
    width: 23em;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .portfolio__container--project--image {
    height: 9em;
    width: 22em;
  }
  .portfolio__container--desc{
    max-height: 8em;
  }
  .tech {
    background-color: var(--darkBlue);
    padding: 1em 0 1em 0;
    grid-template-rows: 1fr 1fr
  }
  .tech__desc {
    width: 22em;
    text-align: justify;
    justify-self: center;
  }
  .tech__content {
    width: 22em;
    justify-self: center;
  }
  .tech__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 1em;
    margin-bottom: 1em;
  }
}
